torch==2.3.1
torchvision==0.18.1

# -------------------------------------------------
# Core Computer Vision
# -------------------------------------------------
opencv-python-headless==4.10.0.84

# 3D processing
open3d==0.18.0

# -------------------------------------------------
# API Deployment
# -------------------------------------------------
fastapi==0.112.2
uvicorn==0.30.6
python-multipart

# -------------------------------------------------
# Utilities & Helpers
# -------------------------------------------------
numpy
scipy
matplotlib
scikit-learn
tqdm
Pillow
python-dotenv
boto3