commands:
  01_swap_space:
    command: |
      SWAPFILE=/var/swapfile
      if [ ! -f $SWAPFILE ]; then
        dd if=/dev/zero of=$SWAPFILE bs=1M count=2048
        mkswap $SWAPFILE
        swapon $SWAPFILE
        echo "$SWAPFILE swap swap defaults 0 0" >> /etc/fstab
      fi
    ignoreErrors: true